*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*   Header Start   */
.header
{
    height: 800px;
    background-image: url(/Flex/Images/header-bg-img.jpg);
    background: black;
    /* background-repeat: no-repeat;   */
    /* background-size: 100% 100%; */
    background-size: cover;
       
}

.subhead1
{
    height: auto ;
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.icons
{
    height: 100px;
    width: 33.3%;
    /* background: blue; */
    font-size: 30px;
    color: white;
    padding: 30px 0 0 200px;
}

.icons span
{
    display: none;
}

.i a
{
    color: white;
}

.heading
{
    height: 100px;
    width: 33.3%;
    /* background: blueviolet; */
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 100px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    */
}

.search
{
    height: auto;
    width: 33.3%;
    /* background: coral; */
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    color: white;   
    padding: 30px 0 0 200px;
}

.search p
{
    font-size: 20px;
    margin-right: 10px;
    text-transform:  uppercase;
}

.line
{
    height: 0.1px;
    width: 73%;
    margin-left: 200px;
    background: rgba(249, 244, 244, 0.60);
}

.navbar
{
    height: 100px;
    /* background-color: red; */
    /* margin-top: 10px; */
    
    text-align: center; 
    line-height: 100px;

   
}

.navbar ul li
{
    display: inline;
    color: gray;
    margin-right: 40px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.navbar a
{
    text-decoration: none;
    color: gray;
}

.menu
{
    position: relative;
    /* color: gray; */
}

.menu:hover
{
    color: white;
}

.navbar .submenu
{
    position: absolute;
    top: 160%;
    left: -10%;
    background-color: black;
    color: gray;
    list-style-type: none;
    width: 140px;
    padding-left: 15px;
    line-height: 30px;
    /* display: none; */
   visibility: hidden;
    z-index: 1;
    transition: .5s;
}

.menu:hover .submenu
{
    visibility: visible;
    /* display: block; */
    
}

.submenu a
{
    font-size: 16px;
    color: gray;
    
}

a:hover
{
    color: white;
}



/* .navbar  .effect 
{
    display: inline;
    color: gray;
}

.effect:hover 
{
    color: white;
} */

.navbar  .fa-angle-down
{
  color: gray;
  font-size: 12px;
  transform: rotate(0deg);
  transition: .4s;
}


.menu:hover .fa-angle-down
{
    transform: rotate(180deg);
}

.headerimg
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    margin-top: 50px;
}

.img1
{
    height: 550px;
    width: 800px;
    position: relative;
    z-index: 0;
    object-fit: contain;
    
}

.img1 .text
{
  width: 50%;  
  margin: 250px 0px 0px 50px;
  /* line-height: 40px; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.img1 .text button
{
    background-color: rgb(27, 180, 232);
    color: white;
    padding: 3px 15px;
    border: none;
    

}

.img1 .text h1
{
    color: white;
    text-transform: capitalize;
    margin-top: 20px;
}

.text h1:hover
{
    text-decoration: underline;
}

.profile
{
    display: flex;
    color: gray;
   
    margin-top: 20px;
}

.profile img
{
    height: 50px;
    border-radius: 50%;
}

.profile .text1
{
    display: flex;
    font-size: 20px;
    margin:  10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4:hover
{
    color: white;
}


.effect-img
{
    height: 550px;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.79);
    opacity: 0;
    transition: .5s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
}

.effect-img:hover
{
   opacity: 1;
}

.img2
{
    height: 275px;
    width: 400px;
    position: relative;
    z-index: 0;
}

.img2 .text-1
{
  width: 70%;  
  margin: 150px 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.img2 .text-1 button
{
    background-color: rgb(101, 156, 18);
    color: white;
    padding: 3px 15px;
    border: none;

}

.img2 .text-1 h5
{
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    margin-top: 15px;
}

.text-1 h1:hover
{
    text-decoration: underline;
}

.profile1
{
    display: flex;

    color: gray;
    padding: 0px ;
}

.profile1 .text2
{
    display: flex;
    font-size: 16px;
    margin:  10px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h4:hover
{
    color: white;
}


.effect-img1
{
    height: 275px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.79);
    opacity: 0;
    transition: .5s;
    position: absolute;
    top: -150px;
    left: -7%;
    z-index: 1;
    
}

.effect-img1:hover  
{
   opacity: 1;
}

.img3
{
    height: 275px;
    width: 400px;
    position: relative;
    margin-top: -5px;
    
}

.img3 .text-2
{
  width: 70%;  
  margin: 150px 20px;
  position: absolute;
  top: 0;
  left: 0;
 
}

.img3 .text-2  button
{
    background-color: rgb(101, 156, 18);
    color: white;
    padding: 3px 15px;
    border: none;

}

.img3 .text-2 h5
{
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    margin-top: 15px;
}

.text-2 h1:hover
{
    text-decoration: underline;
}

.profile2
{
    display: flex;
    color: gray;
    padding: 0px ;
}

.profile2 .text3
{
    display: flex;
    font-size: 16px;
    margin:  10px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h4:hover
{
    color: white;
}

.effect-img2
{
    height: 275px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.79);
    opacity: 0;
    transition: .5s;
    position: absolute;
    top: -125%;
    left: -7%;
   
    
}

.effect-img2:hover
{
   opacity: 1;
}

  /*  Header End  */

 /* Content Start */

.main
{
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    margin: 10px;
    justify-content: center;
    
}
.card
{
    height: 600px;
    width: 250px;
    background-color: white ;
}

.card-img
{
    object-fit: contain;
    position: relative;
}

.card-img .effect
{
    height: 288px;
    width: 250px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 288px;
    background: rgba(0, 0, 0, 0.79);
    opacity: 0;
    transition: .5s;
    position: absolute;
    top: 0;
    left: 0;
}

.card-img:hover .effect
{
    opacity: 1;
}

.card .card-info
{
    width: 70%;
    margin: 10px 40px;
}

.card-info h5
{
    color: gray;
    font-size: 15px;
    font-family: monospace;
    font-weight: lighter;
}

.card-info h3
{
   font-size: 23px;
   text-transform: capitalize;
   font-weight: light;
   margin-top: 8px;
}

.card-info p
{
    color: gray;
    width: 110%;
    margin-top: 10px ;
    margin-bottom: 20px;
    font-weight: lighter;
}

.card-info span a
{
    color: dodgerblue;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

span:hover a
{
    color: black;
}



