*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header
{
    height: 100vh;
    background-attachment: fixed;   
    /* background-color: red; */
    background: url(/Grid/Images/header-img1.jpg);  
    background-size: contain;
    background-repeat: no-repeat;
    animation: test 5s  linear infinite;
    
}

@keyframes test
{
    from{background-size: 100% 100%;}
    to{background-size: 110% 110%;}
}

.submenu
{
    /* height: 100px; */
    /* background-color: aqua;  */
    display: grid;
    grid-template-columns: 50fr 50fr ;
}

.logo
{
    /* background-color: blueviolet; */
    font-size: 20px;
   line-height: 100px;
   padding-left: 40px;
   color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   display: grid;
   grid-template-columns: 1fr 1fr;

}

.logo span
{
  display: none;
       
}

.heading1
{
    /* height: 100px;
    background-color: coral; */
    display: grid;
    grid-template-columns: 60fr 20fr 20fr ;
    
}

.number 
{
    /* text-align: end; */
   color: white;
   display: grid;
   grid-template-columns: 2fr 2fr;
   margin: 30px 0px 0px 170px;
}

.number span
{
   margin-left: 150px;
}

.line
{
    height: 50px;
    width: 2px;
    background-color: rgb(172, 169, 169);
    margin-top: 25px;
}

.location 
{
    /* text-align: end; */
   color: white;
   display: grid;
   grid-template-columns: 2fr 20fr;
   margin: 30px 0px 0px -130px;
}

.partition
{
    height: 1px;
    width: 100%;
    background-color: white;
}

.submenu2
{
    /* height: 100px;
    background-color: yellow; */
    display: grid;
    grid-template-columns: 2fr 2fr ;

}

.nav
{
    /* height: 100px ;
    background-color: fuchsia; */
   /* text-align: center; */
   padding-top: 10px;  
}

.nav ul li 
{
    display: inline;
    padding-top: -20px; 
    margin-right: 15px;
}

.menu a
{
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-transform: uppercase;
}

.heading2
{
    /* height: 100px;   
    background-color: crimson; */
    display: grid;
    grid-template-columns: 10fr 10fr;
    padding-top: 10px; 
    margin-left: 600px;
}

.search span
{
    color: white;
    text-align: center;
    /* width: 10%; */
    font-size: 20px;
    
}

.bars
{
  font-size: 30px;
  color: white;
}

.header-content
{
    /* height: 300px;
    background-color: navy; */
    padding: 300px 180px;
}

.header-content .text
{
    width: 40%;
    
}

.text h1
{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-size: 40px;
}

.text p
{
    color: rgb(216, 214, 214);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
}

.y 
{
    position: relative;

}

input
{
    border: none;
    background-color: transparent;  
    margin-right: 150px;
    color: rgb(233, 233, 233);
}

 .y .effect
{
    height: 2px;
    width: 150px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
}

.y .effect1
{
    height: 50px;
    width: 150px;
    background-color: transparent;
    border: 1px solid goldenrod;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
}

/*  Header end   */

/* Content1 Start */

.content1
{
    /* height: auto;
    width: 100%; */
    background-color: rgb(30, 38, 38);
}

.info
{
    height: 300px;

}

.cont-text
{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px auto;
    padding-top: 80px;
}

.cont-heading h1
{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.cont-para p
{
    color: gray ;
    margin-bottom: 20px;
}

.contact
{
    color: goldenrod;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.contact p
{
    color: goldenrod;
    font-size: 16px;
    margin-left: -220px;
    margin-top: 5px;
}

.card-grid
{
    height: auto;
    /* background-color: crimson; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    
}

.card
{
    /* height: 500px;       */
    width: 300px;
    margin: 20px auto;
    /* background-color: yellow; */
    position: relative;
}

.card-info p
{
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

.card-info img
{
    height: 30px;
    width: 100px;
    margin: -10px 100px;
}

.card .effect1
{
    height: 385px;
    width: 300px;
    background: rgba(0, 0, 0, 0.73);
    opacity: 0;
    transition: 1s;
    position: absolute;
    top: 0;
    left: 0;
}

.card .effect1 .info
{
    text-align: center;
   margin-top: 100px;
   margin-left: 25px;
   width: 80%;
}

.card .effect1 h3
{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 15px;
}

.card .effect1 .rate p
{
    color: goldenrod;
    font-size: 18px;
    margin-bottom: 15px;
}

.card .effect1 p
{
    color: gray;
}


.card:hover .effect1
{
    opacity: 1;
}

/* Content1 End  */

/* Section start  */
.section
{
    /* height: 650px; */
    background: rgb(15, 19, 19);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0px;
}

.section-info
{
    /* height: 500px; */
    /* width: 50%; */
    /* background-color: yellow; */
}

.sec-txt
{
    /* width:100%; */
    padding: 100px 200px;
}

.section-img
{
    /* height: 500px; */
    /* width: 50%; */
    /* background-color: blueviolet; */
    
}
/* Section end  */

/* <!-- Banner Start -->  */
.banner
{
    position: relative;
    background: rgb(15, 19, 19);
}

.banner-info
{
    width: 25%;
    position: absolute;
    top: 30%;
    left: 60%;
}
/* <!-- Banner end -->  */

/* Section2 Start  */
.section2
{
    /* height: 750px; */
    background: rgb(15, 19, 19);
    margin-top: -10px;
    padding: 100px 0px;
}

.sec-line
{
    height: 1px;
    width: 80%;
    margin: 20px auto;
    background-color: rgb(134, 130, 130);
}

.sec-card-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 430px;
}

.section-card
{
    height: 400px;
    width: 300px;
    background-color: orangered;
    margin-right: 20px;
    
}

.numbers
{
    display: flex;
    font-family: 'Roboto', sans-serif;
    /* justify-content: space-evenly; */
}

.num1
{
    margin-right: 80px;
}

.numbers h1
{
    font-size: 80px;
    color: white;
    position: relative;
}

.numbers span
{
    font-size: 40px;
     /* margin: -40px 0px; */
     position: absolute;
     bottom: 32%;
     /* left: 0; */
}

.numbers p
{
    font-size: 20px;
    color: rgb(151, 145, 145);
}


.info1
{
    padding: 90px 0px;
    /* height: 400px; */
    background: rgb(15, 19, 19);
    border-bottom: 1px solid rgb(134, 130, 130) ;

}

.cont-text1
{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px auto;
    padding-top: 80px;
}

.cont-heading1 h1
{
    color: rgb(230, 196, 109);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}

.cont-heading1 span
{
    color: rgb(183, 180, 180) ;
    font-family: 'Roboto', sans-serif;
    /* margin-bottom: 30px; */
    font-size: 20px;
    font-weight: 700;
    width: 10%;
}


.cont-heading1 p
{
    color: rgb(244, 206, 111);
    font-size: 16px;
    /* margin-left: -220px; */
    margin-top: 5px;
}

.contact1
{
    display: flex;
    justify-content: space-around;
}

.contact1 h3
{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.contact1 a
{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    line-height: 40px;
}

.contact1 a:hover
{
    color: rgb(151, 145, 145);
}




