@media (max-width:500px)
{
    .header
    {
        /* background-size:contain;  */
    }
    .submenu{grid-template-columns: 1fr 1fr ;}    
    .heading1{display: none;}
    .logo span{display: block; margin-left: 300px; } 
    .submenu2{display: none; } 
    .header-content{padding: 200px 20px;}
    .header-content .text{width: 100%; }
    .y{display: none; width: 10%;}
    .info{height: 500px;}
    .cont-text{grid-template-columns: 1fr; grid-template-rows: 250px ; width: 80%; }
    .cont-para p{padding-bottom: -200px;}
    .contact{margin-left: 100px; grid-template-columns: 1fr 1fr ;}
    .contact-p{margin-right: -20px;}
    .card-grid{grid-template-columns: 1fr;}
    

    
}