*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



@media (min-width: 1400px) {
    .container {
        /* max-width: 1320px; */    
        max-width: min(1320px, 100vw);
        margin: 0px auto;
    }
}

body
{
    background: #000;
    font-family: 'Poppins', sans-serif;
}

.heading
{
    display: flex;
    justify-content: space-between;
    /* background: gray; */
    width: 100%;
    padding: 10px 0px;
    transition: 1s;
   z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
   
}

.name
{
    /* margin-right: 100px; */
}

h1
{
    font-size: 40px;
    color: white;
    font-weight: bolder;
}

.nav ul li
{
    display: inline;
    margin-right: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
   
}

.nav a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
}


.section1
{
    margin: 180px 0px;
    display: flex;
    justify-content: space-around;
}

.sec-info
{
    margin: 60px 0px;
}

.sec-txt h1
{
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sec-txt span
{
    color: rgb(249, 206, 96);
}

.about
{
    width: 60%;
    margin: 120px auto;
}

.txt p
{
    margin-bottom: 10px;
}

.projects
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 50px 0px;
}

.pro-img
{
    height: 400px;
    width: 400px;
    position: relative;
}

.effect
{
    height: 300px;
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(20, 20, 20, 0.92);
    opacity: 0;
    padding: 100px 0px;
    transition: .8s;
}

.effect h1
{
    text-align: center;
    
}

.pro-img:hover .effect
{
    opacity: 1;
}

.contact1
{
  display: flex;
  justify-content: center;
}

.num
{
  margin: 30px 70px;
}

.num-img
{
    height: 100px;
    width: 100px;
    background-color: rgb(46, 46, 46);
    color: rgb(249, 206, 96);
    font-size: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    margin: 30px 30px;
}

.num h1
{
    font-size: 20px;
    margin-bottom: 10px;
    
}

.num a
{
    color: white;
    text-decoration: none;
}

.num p
{
   margin: 0px 10px;
}